#outer-table {
    border: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.outer-table-header {
    width: 20%;
}

#header-table, #cells-table {
    width: 875px;
}

/* #angel-div {
    overflow: auto;
    height: 50px;
    width: 900px;
} */

.cell {
    border: 1px solid black;
    text-align: center;
}