@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}
  
  /* ------------- GENERAL ------------- */
  body, #db-table {
    margin: 0;
    font-family: 'Cyber', sans-serif;
    background-color: #696969 !important;
  }

  .label {
    font-size: 25px;
    font-family: 'Cyber', sans-serif;
  }

  .label-content {
    background-color: white;
    font-size: 20px;
    padding: 1px 2px;
  }

  .button-label {
    font-size: 20px;
  }

  .spacer {
    margin: 15px;
  }

  .row-input {
    height: 75%;
  }

  /* --- W3SCHOOLS NAV BAR CSS --- */
  .navbar {
    /* overflow: hidden; */
    /* background-color: #333; */
    font-family: 'Cyber', sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    padding: 0 5em 0 0;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content button {
    float: none;
    color: black;
    min-width: 100px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

  /* --- CONTENT DIVS --- */
  /* Desc: formats divs that hold different interactive portions of the page */
  .content {
      padding-top: 7em;
      padding-left: 5em;
      padding-right: 5em;
  }

  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  /* --------------- DB CSS --------------- */
  /* --- DIV 3: SCROLLBOX FOR DB --- */

  #table-scrollbox {
      height: 500px;
      width: 100%;
      overflow: auto;
  }

  /* --- TABLE CSS (ANGEL'S TABLE) --- */
  #outer-table {
    /* Desc: styling for outerTable in buildTable() (script.js) */
    border: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .outer-table-header {
    /* Desc: styling for  */
    width: 20%;
  }

  #header-table, #cells-table {
    /* Desc: styling for headerTable and valueTable (script.js)*/
    /* Credit: https://stackoverflow.com/questions/2434602/setting-width-height-as-percentage-minus-pixels */
    width: calc(100% - 25px);
  }

  #angel-div {
    /* Desc: original div styling made by Angel (script.js) */
    overflow: auto;
    height: 50px;
    width: 900px;
  }

  .cell {
    /* Desc: for the cells containing values (script.js) */
    border: 1px solid black;
    text-align: center;
  }

  /* --- FOOTER --- */
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

  /* #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
    background-color: #333;
  } */

  /*  --- DISPLAYING COLUMNS --- */
  .nav-list li {
    display: inline-block;
  }

  .display-col {
    text-align: center;
  }

  .col-info {
    padding: 5px 15px;
  }

  .col-label {
    background-color: #333; /* TODO: change color */
    color: white;
    padding: 5px;
  }

  .col-content {
    background-color: #FFF;
    padding: 1px;
  }

  /* ---------- CRUD MODES ---------- */

  /* --- OVERLAPPING CSS --- */

  #mode-content {
      /* margin: 0 0 5vh 0; */
      padding: 10px 5em;
  }

  .button {
    background-color: #4CAF50;  /* TODO: CHANGE COLOR */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .result {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 50%;
    /*background-color: white;    TODO: remove test line */
  }

  #right-button {
    width: 100%;
    text-align: right;
    padding: 5px;
  }

  #tables, #cols {
    width: 150px;
    font-size: 16px;
  }

  /* --- CRUD MODE: CREATE --- */

  /* --- CRUD MODE: READ --- */
  .div1 {
    width: 25%;
    text-align: left;
  }

  .div2 {
    width: 50%;
    margin: 0 45em;
  }

  .div3 {
    width: 25%;
    text-align: right;
  }

  #result-pad {
    padding-left: 40px;
  }

  #col-list {
    padding-right: 5vh;
  }

  #add-filter-button {
    margin: 0;
  }

  /* --- CRUD MODE: UPDATE --- */

  /* --- CRUD MODE: DELETE --- */